.introSens {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 130px;
  background-image: url(../../assets/Accueil/bulles-mobi.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 570px;
}
