.eveil {
  color: var(--purple-color);
  font-family: 'Handlee', cursive;
  font-size: 18px;
  margin: 20px 5px 20px 5px;
}

.intro {
  display: flex;
  justify-content: center;
  min-height: 130px;
  background-image: url(../../assets/Accueil/bulles-mobi.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 570px;
}

.intro p {
  width: 90vw;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
  font-size: 24px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-container :hover {
  color: var(--purple-color);
  text-shadow: none;
}

.home-buttons-left {
  align-self: flex-start;
  width: 75vw;
  max-width: 320px;
  height: 90px;
  background-image: url(../../assets/Accueil/ateliers.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 90px;
  text-shadow: 3px 3px 1.5px var(--grey-color);
}

.home-buttons-right {
  align-self: flex-end;
  width: 75vw;
  max-width: 320px;
  height: 90px;
  background-image: url(../../assets/Accueil/ateliers.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto 90px;
  text-shadow: 3px 3px 1.5px var(--grey-color);
}
