.pictures_show {
  width: 45vw;
  border-radius: 15px;
  overflow: auto;
}

.text_show {
  margin: 10px;
}

.list_show li {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .text_show {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .list_show li {
    padding: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .text_show {
    margin-top: 10px;
  }
}
